.ticket {
  margin-top: 20px;
  padding: 26px 20px 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  &__img {
    padding-right: 40px;
  }

  &__header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 25px;

    &_price {
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #2196f3;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
  }

  &__flight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 80px;

    &_to {
      font-size: 12px;
      line-height: 18px;
      color: #a0b0b9;
      text-transform: uppercase;
    }
    &_date {
      font-size: 13px;
      line-height: 21px;
      font-weight: 600;
    }
  }

  &__duration {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 120px;

    &_way {
      font-size: 12px;
      line-height: 18px;
      color: #a0b0b9;
      text-transform: uppercase;
    }
    &_time {
      font-size: 13px;
      line-height: 21px;
      font-weight: 600;
    }
  }

  &__stops {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10px;

    &_num {
      font-size: 12px;
      line-height: 18px;
      color: #a0b0b9;
      text-transform: uppercase;
    }
    &_text {
      font-size: 13px;
      line-height: 21px;
      font-weight: 600;
    }
  }
}
