@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
    format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
      format('woff');
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

$clr1: #4a4a4a;
$clr2: #f3f7fa;

body {
  background-color: $clr2;
}
.main {
  font-family: 'Open Sans', sans-serif;
  color: $clr1;
  display: flex;
  justify-content: center;
}
.logo {
  height: 150px;
  position: relative;
}
.plane {
  z-index: 2;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
}
.planeImg {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: planeFligth 2s 3 normal cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.earth {
  z-index: 1;
  position: absolute;
  height: 98px;
  width: 82px;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes planeFligth {
  0% {
    transform: translate(-50%, -50%);
  }
  48% {
    transform: translate(0%, -100%);
  }
  50% {
    opacity: 0;
  }
  52% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
